<ul class='nav'>
                <li class='nav-bar'><a id='home' href='/'>Auto Mart</a></li>
                <li class='nav-bar'><a  id='contact' href='contact'>Contact Us</a></li>
                <li class='nav-bar' ><a class="active" id='about' href='#'>About Us</a></li>
                
            </ul>
    <h1>This is About Page</h1>
    <footer class='footer2'>
			<div id='powered'>
				<p tabIndex ='0'>Powered by Olaitan Auto Mart</p>
				<p id='copyrights'>Copyright &copy; 2019. All rights reserved.</p>
			</div>
    </footer>