<ul class='nav'>
        <li class='nav-bar'><a id='home' href='/'>Auto Mart</a></li>
        <li class='nav-bar'><a class="active" id='contact' href='#'>Contact Us</a></li>
        <li class='nav-bar'><a id='about' href='about'>About Us</a></li>
       
    </ul>
    <h1>This is Contact page!</h1>
    
  

    <footer class='footer2'>
        <div id='powered'>
            <p tabIndex='0'>Powered by Olaitan Auto Mart</p>
            <p id='copyrights'>Copyright &copy; 2019. All rights reserved.</p>
        </div>
    </footer>