 <ul class='nav'>
      <li class='nav-bar'><a id='home' href='/'>Auto Mart</a></li>      
      <ul class='nav2'>
          <li class='nav-bar'><a class="active" id='contact' href='/auth/login'>Login</a></li>
          <li class='nav-bar' ><a id='about' href='/auth/register'>Register</a></li>
      </ul>
  </ul>
   {{#if success_msg}}
 <div class='alert alert-success'>{{success_msg}}</div>
 {{/if}}
 {{#if error_msg}}
 <div class='alert alert-danger'>{{error_msg}}</div>
 {{/if}}
 {{#if error}}
 <div class='alert alert-danger'>{{error}}</div>
 {{/if}}
    <h1 class='header-log'>Login</h1>
   
    <form class="form" method="post" action='/auth/login'>
      <input class='log-form' id="username" name="username" type="text" placeholder="Username"  required>
      <input
      class='log-form'
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
      <div id="checkbox">
        <label class="check" id="log-label">  
          <input type="checkbox" value="Remember"/>Remember Me</label
        >
      </div><br>
      <div class='alreadyRegistered'> <span id='account'>Don't have an account? Register</span>
      </div><br>
      <button id="login" name="submit" type="submit">Login</button>
      <a id='signUp' href='/auth/register'>Register</a>     
    </form>
    