 <ul class='nav'>
      <li class='nav-bar'><a id='home' href='/'>Auto Mart</a></li>      
      <ul class='nav2'>
          <li class='nav-bar'><a id='contact' href='/auth/login'>Login</a></li>
          <li class='nav-bar' ><a class="active" id='about' href='/auth/register'>Register</a></li>
      </ul>
  </ul>
   {{#if success_msg}}
 <div class='alert alert-success'>{{success_msg}}</div>
 {{/if}}
 {{#if error_msg}}
 <div class='alert alert-danger'>{{error_msg}}</div>
 {{/if}}
 {{#if error}}
 <div class='alert alert-danger'>{{error}}</div>
 {{/if}}
    <h1 class='header-Reg' >Register</h1>
    {{#if error}}
    {{#each error}}
    <div class='alert alert-danger'>{{msg}}</div>
    {{/each}}
    {{/if}}
    <form class="form" method="POST" action='/auth/register'  enctype="multipart/form-data">
        <input class='reg-form' id="firstName" name="firstName" type="text" placeholder="First Name" required />
        <input class='reg-form' id="lastName" name="lastName" type="text" placeholder="Last Name" required />
        <input class='reg-form' id="phone" name="phone" type="number" placeholder="Phone"  required/>
        <input class='reg-form' id="address" name="address" type="text" placeholder="Address" required/>
         <input class='reg-form' id="username" name="username" type="text" placeholder="Username" required />
        <input class='reg-form' id="email" name="email" type="email" placeholder="Email "  required/>
        
        <input
        class='reg-form'
          id="password"
          name="password"
          type="password"
          placeholder="Password"
  
        />
        <input
        class='reg-form'
          id="password2"
          name="password2"
          type="password"
          placeholder="Repeat Password"
          
        />
         <label class='reg-form2'>Profile Picture<span id='asterisk'>*</span></label>           
            <div class='reg-form2'>                            
                <input  class='reg-form2' onchange="readURL(this);"   type="file"  accept="image/*" name="userImage"  required/>
               
            </div>           
   
        
        <div class="alreadyRegistered">
          <span id='account'>Already registered? Click login</span>
        </div>
        <br />
        <a href="/auth/login" id="loginR"
          >Login</a
        >
        <button id="signUpR" type="submit" >Register</button>
      </form>
      <footer>
          <div id='powered'>
            <p tabIndex ='0'>Powered by Olaitan Auto Mart</p>
            <p id='copyrights'>Copyright &copy; 2019. All rights reserved.</p>
          </div>
        </footer>
        <script src='/scriptFiles/app.js'></script>